.side{
  z-index: 0;
  top: 0px;
  left: 0px;
  position: fixed;; /*position: fixed;は、要素を固定する。*/
  height: 100%;
  width: 100px;
  background-color: #02002E;
}
.side_home{
  z-index: 1;
  top: 0;
  left: 0;
  height: 100px;
  color: #FFF;
  background-color: #000B70;
  position: absolute;
  cursor: pointer;
}
.side_analyze{
  z-index: 1;
  top: 0;
  left: 0;
  height: 100px;
  margin-top: 100px;
  color: #FFF;
  position: absolute;
  cursor: pointer;
}
.side_setting{
  z-index: 1;
  top: 0;
  left: 0;
  height: 100px;
  margin-top:210px;
  color: #FFF;
  position: absolute;
  cursor: pointer;
}
.side_icon{
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  width: 60px;
  position: absolute;
}
.index{
  margin-top: 75px;
  width: 100px;
  text-align: center;
  font-family: BIZ UDPゴシック;
}
#ClockArea{
  z-index: 2;
  top: auto;
  left: 0;
  bottom: 0;
  margin-bottom: 8px;
  width: 100px;
  color: #FFF;
  font-size: 25px;
  font-family: HGP創英角ｺﾞｼｯｸUB;
  text-align: center;
  position: absolute;
}
.header{
  margin-left: 110px;
  display: flex;
}
.name{
  margin-left: 10px;
  height: 60px;
  width: 420px;
  margin-bottom: 15px;
  background-color: #DDD;
  border-radius: 5px;
  font-size: 40px;
  font-family: BIZ UDPゴシック;
  text-align: center;
}
#name{
  margin-top: 15px;
  font-size: 30px;
}
.count{
  margin-left: 300px;
  margin-right: 10px;
  margin-bottom: 15px;
  height: 60px;
  width: 500px;
  font-size: 40px;
  font-family: BIZ UDPゴシック;
  text-align: center;
  background-color: #BDD7EE;
}
.count p{
  margin-top: 10px;
}
.tab{
  margin-left: 90px;
  margin-right: 0;
  height: 65px;
  display: flex;
  background-color: #BFBFBF;
  width: 100;
  cursor: pointer;
}
.grade{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 10px;
  width: 130px;
  height: 55px;
  font-size: 40px;
  font-family: ＭＳ ゴシック;
  text-align: center;
  vertical-align: middle;

}
.btn{
  margin-top: 15px;
  margin-left: 110px;
}
.button{
  margin-bottom: 15px;
  margin-left: 13px;
  margin-right: 13px;
  height: 55px;
  width: 200px;
  background-color: #BDD7EE;
  font-size: 25px;
  font-family: ＭＳ ゴシック;
  border-radius: 7px;
  border: none;
}
.syusseki_people{
  margin-left: 90px;
}
.before {
  position: fixed;
  width: 30px;
  margin-top: 200px;
  margin-left: 30px;
}
.next {
  position: fixed;
  width: 30px;
  margin-top: 200px;
  margin-left: 88%;
}
.person{
  margin-top: 30px;
  margin-bottom: 5px;
  padding-left: 80px;
  padding-bottom: 0px;

  font-size: 35px;
  font-family: BIZ UDゴシック;
  color: #000;
}
hr{
  margin: 0;
  padding: 0;
  margin-left: 80px;
  padding-left: 200px;
  width: 800px;
}
.menu_icon{
  margin-top: 15px;
  margin-left: 40px;
  width: 100px;
}
.menu_tile{
  margin-top: 100px;
  padding-top: 60px;
  display: flex;
}
.menu_tile_2{
  margin-top: 80px;
  display: flex;
}
.menu_Text{
  margin-top: 10px;
  width: 180px;
  font-size: 20px;
  font-family: BIZ UDPゴシック;
  text-align: center;
}
.menu_newList{
  margin-left: 200px;
  width: 180px;
  height: 180px;
  background-color: #BDD7EE;
  cursor: pointer;
}
.menu_addMember{
  margin-left: 100px;
  width: 180px;
  height: 180px;
  background-color: #BDD7EE;
  cursor: pointer;
}
.menu_delMember{
  margin-left: 100px;
  width: 180px;
  height: 180px;
  background-color: #BDD7EE;
  cursor: pointer;
}
.menu_setEx{
  margin-left: 100px;
  width: 180px;
  height: 180px;
  background-color: #BDD7EE;
  cursor: pointer;
}
.menu_setIn{
  margin-left: 200px;
  width: 180px;
  height: 180px;
  background-color: #BDD7EE;
  cursor: pointer;
}
.menu_dataEx{
  margin-left: 100px;
  width: 180px;
  height: 180px;
  background-color: #BDD7EE;
  cursor: pointer;
}
.menu_listEx{
  margin-left: 100px;
  width: 180px;
  height: 180px;
  background-color: #BDD7EE;
  cursor: pointer;
}
.menu_dataReset{
  margin-left: 100px;
  width: 180px;
  height: 180px;
  background-color: #FF8888;
  cursor: pointer;
}
.menu_icon{
  margin-top: 15px;
  margin-left: 40px;
  width: 100px;
}
.menu_tile{
  margin-top: 30px;
  display: flex;
}
.menu_Text{
  margin-top: 10px;
  width: 180px;
  font-size: 20px;
  font-family: BIZ UDPゴシック;
  text-align: center;
}
#dateArea{
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 10px;
  font-size: 60px;
  font-family: BIZ UDPゴシック;
  color: #000000;
}
.NoA{
  margin: 0;
  width: 100%;
  height: 75px;
  font-size: 45px;
  font-family: BIZ UDPゴシック;
  background-color: #CFCFCF;
  vertical-align: middle;

}
.people{
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 10px;
  padding-top: 15px;
}
.main_analyze{
  margin-left: 90px;
}
.form{
  margin-left: 130px;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
  padding-right: 20px;
}

/* デフォルトのラジオボタンデザインを無効化 */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* カスタムラジオボタンの作成 */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* チェックした時のカラーリング */
.container input:checked ~ .checkmark {
  background-color:darkorange ;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.text{
  font-size: 40px;
  font-family: BIZ UDPゴシック;
}
.choiceGrade{
  font-size: 20px;
  font-family: BIZ UDPゴシック;
}
.textbox{
  position: absolute;
  margin-left: 0px;
  margin-top: 60px;
  font-size: 20px;
}
.form_text{
  width: 150px;
  height: 25px;
  font-size: 17px;
  padding-left: 10px;
}
.instruction{
  margin-top: 3px;
  font-size: 18px;
  color: #D20;
}
#decide{
  position: absolute;
  margin-top: 135px;
  margin-left: -270px;
  height: 50px;
  width: 180px;
  background-color: #BDD7EE;
  font-size: 20px;
  font-family: BIZ UDPゴシック;
  border-radius: 7px;
  border: none;
}
.pullDown{
  position: absolute;
  margin-left: 0px;
  margin-top: 60px;
  font-size: 20px;
}
select{
  height: 50px;
  font-size: 15px;
  background-color: #EEE;
  border-radius: 8px;
  border-color: #AAA;
}
#delete{
  position: absolute;
  margin-top: 135px;
  margin-left: -270px;
  height: 50px;
  width: 280px;
  background-color: #BDD7EE;
  font-size: 20px;
  font-family: BIZ UDPゴシック;
  border-radius: 7px;
  border: none;
}
.loadFile{
  font-size: 20px;
  font-family: BIZ UDPゴシック;
}
#load{
  margin-top: 30px;
  margin-left: 0px;
  height: 50px;
  width: 280px;
  background-color: #BDD7EE;
  font-size: 20px;
  font-family: BIZ UDPゴシック;
  border-radius: 7px;
  border: none;
}

#setting_load{
  margin-top: 30px;
  margin-left: 0px;
  height: 50px;
  width: 280px;
  background-color: #BDD7EE;
  font-size: 20px;
  font-family: BIZ UDPゴシック;
  border-radius: 7px;
  border: none;
}
.form_file{
  height: 50px;
  width: 300px;
  border-radius: 3px;
}

.copyright{
  position:fixed;
  bottom:0px;
  margin-left: 78%;
}
